{% extends 'bootstrap5.html.twig' %}

{% block title %}
    Akt TN.by - 09-2023
{% endblock %}

{% block stylesheets %}
    <style>
        main {
            background: #bbb;
            padding: 1em;
        }

        .container {
            background: #fff;
            padding: 1em;
            border-radius: 2px;
            box-shadow: .1em .2em .3em rgba(0,0,0,.5);
            max-width: 980px;
        }

        h1 {
            font-size: 24px;
        }

        .logo-circle {
            border-radius: 50%;
            background: #eeee;
            padding: 4px;
            margin-right: 8px;
        }

        .tr-last {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
<main>
    <div class="wrap">
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="text-dark text-decoration-none">
                    <div class="d-flex align-items-center align-content-md-center">
                        <div class="logo-circle">
                            <svg width="54" height="54" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 682 682" xml:space="preserve"><path fill="#141414" d="M367.84 141.108c23.175 1.982 45.896 4.029 68.638 5.834 35.175 2.791 70.534 3.688 105.277 10.786 7.861 1.606 15.216.254 21.328-5.607 2.274-2.18 4.906-3.991 7.404-5.934 6.994-5.442 13.78-6.356 21.216-1.327 11.828 8 23.456 16.36 34.643 25.232 15.38 12.197 30.37 24.895 45.278 37.67 2.755 2.362 5.75 5.934 6.149 9.247.879 7.302.969 14.916-.135 22.173-.911 5.995-6.63 8.496-12.174 9.705-10.478 2.287-20.85 2.665-31.64.497-10.525-2.114-21.47-2.677-32.251-2.88-36.772-.693-72.974-5.73-108.946-13.015-34.718-7.03-69.497-13.758-104.222-20.755-4.014-.808-7.265-.367-9.775 2.96-2.518 3.334-1.27 6.527.42 9.79 7.177 13.862 14.927 27.48 21.176 41.753 4.425 10.106 7.359 20.981 9.925 31.759 3.904 16.39 9.952 22.733 27.163 23.764 15.324.918 29.898 4.3 44.104 9.793 10.235 3.958 19.765 3.058 28.754-3.623 5.321-3.956 10.62-3.486 15.31 1.14 2.34 2.31 4.298 5.075 6.112 7.842 5.929 9.039 11.6 18.248 17.6 27.239 2.95 4.421 7.342 6.596 12.526 8.314 7.642 2.532 14.871 6.383 22.133 9.964 3.863 1.904 7.45 4.378 11.115 6.67 8.877 5.554 18.3 8.296 28.948 7.018 8.777-1.053 16.734 1.715 23.789 7.088 16.482 12.551 14.953 38.348-2.927 49.231-7.53 4.584-15.608 6.414-24.373 5.15-1.46-.21-3.013-.377-4.44-.115-4.458.82-4.916 2.995-2.704 6.93 9.43 16.778 19.343 33.354 27.511 50.74 3.367 7.167 3.456 16.16 3.825 24.376.463 10.295.28 20.705-.727 30.957-1.096 11.17-3.057 22.378-10.787 31.374-1.37 1.593-3.136 3.06-5.018 3.965-23.477 11.293-46.778 22.993-70.586 33.546-28.928 12.822-59.09 19.293-90.937 13.743-21.467-3.74-42.952-7.377-64.414-11.15-40.19-7.064-79.567-17.308-118.062-30.829-62.298-21.881-120.663-51.723-174.902-89.23-32.43-22.425-59.2-50.537-76.62-86.596-10.913-22.585-15.29-46.032-9.117-70.749 7.723-30.922 27.918-50.172 57.41-60.54 23.586-8.292 48.163-11.4 72.844-13.969 44.036-4.58 87.853-1.399 131.632 3.6 10.919 1.247 21.876 2.219 32.837 3.035 12.74.949 20.255-6.602 19.075-19.447-1.29-14.057-7.221-26.632-14.421-38.43-7.79-12.765-16.415-25.028-24.882-37.369-6.124-8.925-14.603-14.88-24.792-18.481-25.368-8.967-50.774-17.83-76.064-27.01-25.026-9.085-49.256-19.96-72.3-33.379-27.143-15.807-54.429-31.376-81.34-47.57-4.373-2.631-8.099-7.5-10.302-12.19-1.612-3.43-1.177-8.558.028-12.4 1.819-5.8 4.685-11.404 7.942-16.563 1.673-2.648 4.869-4.952 7.873-6.036 13.413-4.836 27.376-6.701 41.505-4.623 8.156 1.199 16.209 3.477 24.122 5.881 42.988 13.06 84.212 30.14 121.131 56.148 12.892 9.08 25.08 19.317 36.706 29.989 9.645 8.854 19.673 15.11 33.112 16.498 20.685 2.137 41.242 5.518 62.297 8.416M120.538 405.14c-7.345 11.257-8.249 23.187-4.072 35.813 4.495 13.588 12.368 24.983 22.302 35.04 17.38 17.594 38.67 29.128 61.012 38.992 42.276 18.665 87.192 28.432 132.058 37.762 39.264 8.165 79.295 9.943 119.364 7.033 18.805-1.366 37.28-4.778 54.616-12.758 27.988-12.884 40.616-35.995 36.49-66.236-2.411-17.679-8.567-34.101-15.956-50.153-9.722-21.12-26.189-34.258-48.718-39.016-14.597-3.084-28.526-7.554-41.958-13.933-7.54-3.58-11.889-2.125-16.398 4.994-2.756 4.35-5.061 8.99-7.88 13.295-4.178 6.384-8.927 8.226-16.287 6.258-8.987-2.403-17.918-5.023-26.828-7.698-11.323-3.4-20.115-9.766-25.491-20.759-1.354-2.769-4.743-5.61-7.71-6.345-16.816-4.168-33.855-8.003-51.295-6.64-22.563 1.765-45.122 3.928-67.553 6.9-17.768 2.353-35.563 5.288-52.937 9.61-16.855 4.192-31.95 12.386-42.76 27.84z"></path></svg>
                        </div>
                        <span class="fs-4"> </span>
                        <span class="fs-4">Акт №{{ details['slug'] }}</span>
                    </div>
                </a>
            </header>

            <div class="row">
                <div class="col-md-9">
                    <h1>
                        Зробленыя працы
                        {% if (details.dateRange) %}
                            за перыяд: {{ details.dateRange }}
                        {% endif %}
                    </h1>
                    <p class="lead">
                        {% if (details.description) %}
                            <span>
                                {{ details.description|raw }}
                            </span>
                        {% endif %}
                    </p>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Заданне</th>
                                <th>Гадзіны</th>
                                <th>Кошт</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for jobFields in jobs %}
                            <tr>
                                <td>{{ jobFields.name }}</td>
                                <td>{{ jobFields.hours }}</td>
                                <td>{{ jobFields.price }} {{ currency }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="tr-last">
                            <td>Агулам:</td>
                            <td>{{ details.hours }}</td>
                            <td>{{ details.sum }} {{ currency }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <p><br/></p>
                    <p>
                        Дзякуй, што скарысталіся паслугамі <a href="https://juljan.by/be">juljan.by</a>!
                    </p>

                    <p>
                        <em>Гэтая спасылка канфедэнцыйная, калі ласка, не адпраўляйце трэцім асобам. Праз тыдзень яна не будзе даступная для прагляду.</em>
                    </p>
                </div>

                <p class="text-center">
                    <strong>WebDev</strong>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

