{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.prices'|trans }}
{% endblock %}

{% block body %}
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Цены</h2>
                    <p>
                        Список цен на разработку web-элементов элементов сайта.
                    </p>
                </div>

                <div class="row justify-content-center">
                    {% for product in products %}
                        <div class="col-md-5 col-lg-4 mb-3">
                            <div class="clean-pricing-item">

                                {% if product.price < 500 %}
                                    <div class="ribbon"><span>Хит!</span></div>
                                {% endif %}

                                <div class="heading">
                                    <h4>{{ product.name }}</h4>
                                </div>
                                <div>
                                    {{ product.description }}
                                </div>
                                <div class="features">
{#                                    <h4><span class="feature">Анимированный фон:&nbsp;</span><span>Нет</span></h4>#}
                                </div>
                                <div class="price">
                                    <h4>{{ product.price }} BYN</h4>
                                </div>
                                <a href="{{ product.orderHref }}" class="btn btn-outline-primary btn-block">
                                    Заказать
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col">
                        <p><br></p>
                        <h2>
                            А также
                        </h2>
                        <p>
                            Любые другие услуги, кастающиеся web-сайтов и интернета. Цены — по договорённости.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
