{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nav.services'|trans }}
{% endblock %}

{% block body %}
<main class="page">
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Услуги</h2>
            </div>

            <div class="row justify-content-center">
                <p>Предоставляемые услуги можно разделить на следующие несколько основных категорий</p>
                <div class="col-8">
                    <ul>
                        <li>
                            <strong>Разработка сайтов</strong>:
                            Создание уникальных веб-платформ, от сайтов-визиток до интернет-магазинов, с фокусом на функциональности, без заморочек про дизайн.
                            Ожидаю что ТЗ и/или дизайн будет от Вас.
                        </li>
                        <li>
                            <strong>Установка и настройка компьютеров</strong>: в основном Linux: Debian, RHEL, главное чтобы был Интернет и ssh-доступ.
                        </li>
                        <li>
                            <strong>Настройка программного обеспечения</strong>: Вот только, пожалуйста, без Бітрікса и 1С.
                            А так могу помочь настроить необходимое программное обеспечение для эффективной работы вашего бизнеса или личного пользования.
                        </li>
                        <li>
                            <strong>Онлайн компьютерное обучение</strong>:
                            Обучение работе на ПК, программированию и другим компьютерным навыкам через онлайн-курсы для расширения ваших знаний и навыков.
                            Тут я выступаю как очень опытный теле-врач.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row justify-content-center">
                {% for product in services %}
                    <div class="col-md-4 feature-box">
                        <i class="{{ product.icon|default('icon-printer') }} icon"></i>
                        <a href="{{ product.orderHref }}">
                            <h4>{{ product.name }}</h4>
                        </a>
                        <p>
                            {{ product.description }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
