<!DOCTYPE html>
<html lang="{{ lang }}-BY">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
{#        <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">#}

        <title>
            {% block title %}{{ 'Welcome!'|trans }}{% endblock %} / {{ 'site.name'|trans }}
        </title>
        <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%20%3E%0A%20%20%3Ccircle%20cx%3D%2264%22%20cy%3D%2264%22%20r%3D%2250%22%20fill%3D%22%23f8f9fa%22%20stroke%3D%22%23343a40%22%20stroke-width%3D%221%22%20%2F%3E%0A%20%20%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20text-anchor%3D%22middle%22%20dy%3D%220.33em%22%20fill%3D%22%23ce1126%22%20font-size%3D%2268%22%20font-family%3D%22Arial%22%3EBy%3C%2Ftext%3E%0A%3C%2Fsvg%3E">

        <link rel="stylesheet" href="/assets/bootstrap/css/main.css"/>
        <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css"/>
        <meta property="og:image" content="/assets/img/screen_main.jpg"/>

        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container">

                {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" class="navbar-svg-logo">
                    <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />
                    <text x="50%" y="50%" text-anchor="middle" dy="0.4125em" fill="#343a40" font-size="68"
                          style="font-family: 'Pacifico', sans-serif;"
                          transform="rotate(90, 64, 64)">Ю</text>
                </svg>#}

                <a class="navbar-brand logo" href="/">
                    {{ 'site.name'|trans }}
                </a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">{{ 'site.toggleNav'|trans }}</span>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        {% for navItem in navHelper.headerItems %}
                            <li class="nav-item" role="presentation {{ navItem.isActive ? 'active' : '' }}">
                                <a class="nav-link" href="{{ navItem.href }}">{{ navItem.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="langs">
                    <a href="/be" class="lang badge {{ navHelper.isCurrentLang('be') ? 'current' : '' }}" data-lang="be">Беларуская</a>
                    <a href="/en" class="lang badge {{ navHelper.isCurrentLang('en') ? 'current' : '' }}" data-lang="en">English</a>
                    <a href="/ru" class="lang badge {{ navHelper.isCurrentLang('ru') ? 'current' : '' }}" data-lang="ru">Русский</a>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        {% include lang ~'/elems/footer.html.twig' %}

        <script async defer src="/assets/js/main.js"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
