<!DOCTYPE html>
<html lang="{{ lang }}_BY">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{{ 'Welcome!'|trans }}{% endblock %} / {{ 'site.name'|trans }}
        </title>
        <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Ccircle cx='64' cy='64' r='50' fill='%23f8f9fa' stroke='%23343a40' stroke-width='1' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='.3em' fill='%23343a40' font-size='96' font-family='Brush Script MT' transform='rotate(90, 64, 64)'%3E%D0%AE%3C/text%3E%3C/svg%3E">

        <link rel="stylesheet" href="/assets/bootstrap/css/main.css"/>
        <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css"/>
        <meta property="og:image" content="/assets/img/screen_main.jpg"/>

        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container">
                <a class="navbar-brand logo" href="/">
                    {{ 'site.name'|trans }}
                </a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">{{ 'site.toggleNav'|trans }}</span>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        {% for navItem in navHelper.headerItems %}
                            <li class="nav-item" role="presentation {{ navItem.isActive ? 'active' : '' }}">
                                <a class="nav-link" href="{{ navItem.href }}">{{ navItem.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="langs">
                    <span class="lang badge {{ navHelper.isCurrentLang('be') ? 'current' : '' }}" data-lang="be">Беларуская</span>
                    <span class="lang badge {{ navHelper.isCurrentLang('ru') ? 'current' : '' }}" data-lang="ru">Русский</span>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="page-footer dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Як пачаць?</h5>
                        <ul>
                            <li><a href="contact-us.html">Замовіць</a></li>
                            <li><a href="examples.html">Дэманстрацыі</a></li>
                            <li><a href="samples.html">Шаблоны на продаж</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Пра кампанію</h5>
                        <ul>
                            <li><a href="about-us.html">Хто мы?</a></li>
                            <li><a href="contact-us.html">Кантакты</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Падтрымка</h5>
                        <ul>
                            <li><a href="faq.html">Частыя пытанні</a></li>
                            <li><a href="contact-us.html">Звароты</a></li>
                        </ul>
                    </div>

                    <!--<div class="col-sm-3">
                        <h5>Юрыдычны аспект</h5>
                        <ul>
                            <li><a href="#">Публічная аферта</a></li>
                            <li><a href="#">Воблачнае сховішча</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>-->
                </div>

                <div class="legal-info row">
                    <div class="col-md-8">
                        <div class="d-flex d-inline-block align-items-center align-content-top">
                            {#<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" style="max-width: 48px">
                                <circle cx="64" cy="64" r="50" fill="#f8f9fa" stroke="#343a40" stroke-width="1" />
                                <text x="50%" y="50%" text-anchor="middle" dy=".3em" fill="#343a40" font-size="96" font-family="Brush Script MT" transform="rotate(90, 64, 64)">Ю</text>
                            </svg>#}

                            <div>
                                <p class="small">
                                    Аказанне паслуг:
                                    Місюкевіч Ю. В.,
                                </p>

                                <p class="small">
                                    <strong>Рэжым працы:</strong>
                                    пн-cб: 00:00—02:00, 08:00-10:00, 19:00-23:30.
                                    <strong>Тэл:</strong>+375<sup>292</sup>18<sub>640</sub>3.
                                </p>
                            </div>
                        </div>



                    </div>

                    <div class="col-md-4 text-right">
                        <a href="https://hoster.by/?pid=160448" class="hoster-link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 63"><rect fill="#f3f4ff" width="140" height="63" rx="4"/><rect fill="#cbdb2f" x="91.2" y="14.57" width="4.06" height="10.41" rx="1" transform="matrix(-.94 -.33 .33 -.94 174.09 69)"/><rect fill="#ed1944" x="116.79" y="14.85" width="3.39" height="9.83" rx="1" transform="rotate(152.69 118.485 19.762)"/><path fill="#00053e" d="M16.46 25.69v-6.1h3.73v6.1h1.66v-7.56h-7v7.56zm14.87-1.29c-.37 0-.63-.28-.63-.76v-2.81c0-1.85-1.4-2.9-3.5-2.9a5.43 5.43 0 00-2.75.65V20a4.42 4.42 0 012.38-.68c1.48 0 2.22.56 2.22 1.65v.42a4.87 4.87 0 00-2.42-.59 3.48 3.48 0 00-2.15.66 2.15 2.15 0 00-.88 1.85 2.27 2.27 0 00.8 1.86 3.07 3.07 0 002 .68 3.51 3.51 0 002.79-1.17 1.45 1.45 0 001.59 1.08 1.64 1.64 0 001-.25v-1.22a.86.86 0 01-.45.11zm-2.28-.85a3.06 3.06 0 01-2.16.91c-1 0-1.63-.4-1.63-1.2s.66-1.17 1.77-1.17a4 4 0 012 .54zm8.73-5.62a3.23 3.23 0 00-2.7 1.23v-1h-1.66v10.61h1.66v-4.11a3.2 3.2 0 002.7 1.23 3.38 3.38 0 002.63-1.15 4.07 4.07 0 001-2.82 4.09 4.09 0 00-1-2.84 3.38 3.38 0 00-2.63-1.15zm-.45 1.46a2.3 2.3 0 011.74.74 2.49 2.49 0 01.69 1.79 2.52 2.52 0 01-.69 1.78 2.33 2.33 0 01-1.74.73 2.62 2.62 0 01-2.25-1.34v-2.34a2.55 2.55 0 012.25-1.36zm9.07 6.3v-6.1h2.54v-1.46h-6.76v1.46h2.56v6.1zm5.72 0v-3.14H56v3.14h1.66v-7.56H56v3h-3.88v-3h-1.66v7.56zm7.33-3.79a3.73 3.73 0 001.2 2.88 4.28 4.28 0 003 1.11 4.63 4.63 0 002.78-.74v-1.4a4.62 4.62 0 01-2.43.68 2.58 2.58 0 01-2.85-2h5.79V22a4 4 0 00-1.6-3.41 3.19 3.19 0 00-2-.62 3.69 3.69 0 00-2.8 1.14 4 4 0 00-1.09 2.79zm1.7-.77a2 2 0 012.11-1.8 1.93 1.93 0 011.45.56 1.81 1.81 0 01.53 1.24zm12.01-3.2a3.21 3.21 0 00-2.69 1.23v-1h-1.66v10.61h1.66v-4.11a3.18 3.18 0 002.69 1.23 3.4 3.4 0 002.64-1.15 4.07 4.07 0 001-2.82 4.09 4.09 0 00-1-2.84 3.4 3.4 0 00-2.64-1.15zm-.44 1.46a2.3 2.3 0 011.74.74 2.49 2.49 0 01.69 1.79 2.52 2.52 0 01-.69 1.78 2.33 2.33 0 01-1.74.73 2.6 2.6 0 01-2.25-1.34v-2.34a2.54 2.54 0 012.25-1.36zm14.16 4.39a.77.77 0 00.45.38l4.86 1.67a.53.53 0 00.25 0 .76.76 0 00.72-.52L97 14.23l.19.07a4 4 0 003-.17l.47-.24a2.44 2.44 0 011.82-.11l8.87 3.06a1.76 1.76 0 01-.59 1 1.82 1.82 0 01-1.63 0l-4-1.36a.79.79 0 00-.62 0 .85.85 0 00-.38.49 5.21 5.21 0 01-2.29 3 5 5 0 01-4 .06.76.76 0 00-1 .48.77.77 0 00.48 1A8.45 8.45 0 00100 22a5.48 5.48 0 002.63-.65 6.5 6.5 0 002.76-3.17l3.26 1.12a3.22 3.22 0 003-.2 3.62 3.62 0 001.35-2.74.78.78 0 00-.52-.75L103 12.34a4 4 0 00-3 .19l-.47.23a2.4 2.4 0 01-1.84.11l-.79-.28a.37.37 0 00-.14-.07l-4.86-1.69a.77.77 0 00-1 .49l-4.05 11.87a.8.8 0 00.03.59zm5.25-11.25l3.4 1.17L92 24.13 88.56 23z"/><path fill="#00053e" d="M94.89 30.82a2.26 2.26 0 002 1.26 2.26 2.26 0 00.22 1 2.19 2.19 0 001.3 1.14 2.08 2.08 0 00.73.13 2.12 2.12 0 001-.24l.41-.2a2.25 2.25 0 001.5 1.84 2.14 2.14 0 001.72-.11l8.83-4.32a22.66 22.66 0 005.4-3.69l2-1.81 4.51-2.2a.77.77 0 00.35-1l-5.49-11.28a.82.82 0 00-.45-.39.76.76 0 00-.59 0l-4.61 2.26a.78.78 0 00-.35 1L118.54 25l-1.63 1.5a21.62 21.62 0 01-5 3.44L103 34.25a.73.73 0 01-1-.33.68.68 0 010-.56.76.76 0 01.36-.41l4.94-2.41a.77.77 0 00.35-1 .78.78 0 00-1-.35l-4.93 2.42-2.33 1.14a.7.7 0 01-.55 0 .7.7 0 01-.45-.91.8.8 0 01.37-.42l7.1-3.42a.76.76 0 10-.68-1.37l-8 3.89a.72.72 0 01-1-.88.71.71 0 01.37-.41l3.13-1.54 4.08-2a.78.78 0 00.35-1 .77.77 0 00-1-.35l-6.34 3.11a.72.72 0 01-.64-1.29l3.37-1.65a.76.76 0 10-.67-1.37l-3.37 1.64a2.27 2.27 0 00-.4 3.81 2.23 2.23 0 00-.17 2.23zM115 14.24l3.23-1.58 4.84 9.9-3.23 1.58z"/><path fill="#ed1944" fill-rule="evenodd" d="M46.08 34.91l-3.89 2.72v2.19l3.89-2.75L50 39.82v-2.19z"/><path fill="#04133a" fill-rule="evenodd" d="M46.09 43.34a3 3 0 013 3.12V51h-1.51v-4.26A1.76 1.76 0 0045.8 45a1.84 1.84 0 00-1.21.46V51H43V40.42h1.13l.44 3.27a3.29 3.29 0 011.52-.35zm21.28.88l-1.4 1v2.61a1.6 1.6 0 001.41 1.62V51h-.11a3.18 3.18 0 01-3-3.17v-5.72h1.08l.32 1.26h1.6zm28-.83h-1.59v5.38a1.68 1.68 0 01-3-1.27v-4.11h-1.5v4.39a3.08 3.08 0 003 3.24 3.2 3.2 0 001.46-.48 2.12 2.12 0 01-2.14 2.12h-.57v1.56h.68a3.62 3.62 0 003.64-3.68zM79 49.17a1.06 1.06 0 000 1.54 1.15 1.15 0 00.79.32 1.16 1.16 0 00.79-.32 1.09 1.09 0 000-1.54 1.12 1.12 0 00-.79-.32 1.1 1.1 0 00-.79.32zm-17.92-1.42a.83.83 0 01.83.83.84.84 0 01-.83.84h-2.65V51h2.77a2.45 2.45 0 000-4.9h-.85a.57.57 0 010-1.13h2.24v-1.58h-2.35a2.18 2.18 0 000 4.36zM53.85 51a3.85 3.85 0 113.88-3.85A3.87 3.87 0 0153.85 51zm-2.17-3.85a2.18 2.18 0 112.17 2.16 2.17 2.17 0 01-2.17-2.12zm23.56-.79a3 3 0 013-2.95h.25V45h-.13a1.56 1.56 0 00-1.59 1.4V51h-1.53zm-.74-1.66a3.91 3.91 0 00-3-1.4 3.82 3.82 0 00-3.87 3.78A3.88 3.88 0 0074.15 50L73 48.78a2.18 2.18 0 01-3.63-1.66A2.14 2.14 0 0171.49 45a2.2 2.2 0 011.32.44l-1.63 1.34v1.91l3.32-2.53zm10.15-1.4a3.36 3.36 0 00-1.48.35l-.53-3.27h-1.1v8.89a1.36 1.36 0 01.13.27 1 1 0 00.2.35 4 4 0 005.48 0 3.85 3.85 0 00-2.7-6.59zm-1.5 2.21v3.23a2.21 2.21 0 003-.07 2.19 2.19 0 000-3.09 2.21 2.21 0 00-3-.03z"/></svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <p>ЖУЛЖАН.БАЙ &ndash; Жывая анімацыя Вашага бізнесу</p>
            </div>
        </footer>

        <script async defer src="/assets/js/main.js"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
